body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.topContainer {
  background-color: #ccf3ee;
}

.middleContainer {
  background-color: green;
  height: 200px;
  width: 200px;
}

.bottomContainer {
  background-color: red;
  height: 200px;
  width: 200px;
}
